@model List<ThamQuanTDMU.Models.VISIT_IMAGE>

<div id="portfoliowrap" style="margin-top:2%">
    <h3>CHỌN ĐỊA ĐIỂM ĐỂ THAM QUAN</h3>
    <div class="portfolio-centered">
        <div class="recentitems portfolio">
        @foreach (var item in Model) { 
                  <div class="portfolio-item graphic-design" style="border:2px solid white">
                <div class="he-wrap tpl6">
                    <img src="../Content/assets/img/tdmu_img/@item.Img_Src" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">@item.Img_Title</h3>
                            <a data-rel="prettyPhoto" href="../Content/assets/img/tdmu_img/@item.Img_Src" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="@Url.Action("ThamQuan","ThamQuan",new {@imgId=item.Img_Id })" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <div>@item.Img_Title</div>
            </div><!-- end col-12 --> 
        }

     

        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
