
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>ĐỊA CHỈ</h4>
                <div class="hline-w"></div>
                <p>
                    Số 06, Trần Văn Ơn, Phú Hòa, Thủ Dầu Một, Bình Dương<br />
                    (0650) 3.822.518 - (0650) 3.837.150<br />
                    http://tdmuintroduction.somee.com<br />
                </p>
            </div>
            <div class="col-lg-4">
                <h4>CHIA SẺ</h4>
                <div class="hline-w"></div>
                <p>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100003660327922&layout=button_count&size=large&mobile_iframe=true&appId=1461621737205794&width=93&height=28" width="93" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>LIÊN KẾT WEBSITE</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="http://tdmu.edu.vn/">Đại học Thủ Dầu Một </a><br />

                    <a href="http://daa.tdmu.edu.vn/phongdaotao/">Phòng Đào tạo</a><br />

                    <a href="http://congtacsinhvien.tdmu.edu.vn/">Phòng Công Tác Sinh Viên</a><br />

                    <a href="http://trungtamphattrienctxh.tdmu.edu.vn/">Trung tâm phát triển công tác xã hội</a><br />

                    <a href="http://itc.tdmu.edu.vn/">Trung tâm Công nghệ thông tin</a><br />
                </p>
            </div>

        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->