<div onclick="test()" id="divHuongDan">
    <div style="opacity: 1; padding: 2%;">
        <div style="text-align: left;">
            <div class="col-lg-12">
                <p style="opacity: 1;color: white;font-size:26px;text-align: center;"><b>HƯỚNG DẪN</b></p>
                <div class="col-lg-1">
                    1.
                    <img src="~/Content/assets/img/icon/mouse.png" style="width:50px;height:100px" alt="">
                </div>
                <div class="col-lg-9" style="padding-top: 2%;font-size:18px;">
                    <p>
                        <br />Click vị trí bất kỳ trên khung hướng dẫn để tắt hướng dẫn<br />
                        <br />  Click giữ vào ảnh và kéo về phía cần xem
                    </p>
                </div>
            </div>

            <div class="col-lg-12" style="padding-top: 5%">
                <div class="col-lg-1">
                    2.
                    <img src="~/Content/assets/img/icon/go_up.png" style="width:50px;height:80px" alt="">
                </div>
                <div class="col-lg-9" style="font-size:18px;">
                    <p>
                        Đưa trỏ chuột vào các vị trí được đánh dấu để xem trước thông tin về các địa điểm khác, click vào để chuyển đến địa điểm tương ứng
                        <br>
                        Sử dụng thanh menu phía dưới để khai thác các tính năng khác
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function test() {
        document.getElementById('divHuongDan').style.visibility = 'hidden';
    }
</script>