 <!--Icon menu tiện ích-->
<div style="position:absolute;bottom:1px;right:3%;z-index: 1;">
    <abbr title="Ẩn/Hiện menu tiện ích"> <img id="imgTienIch" src="~/Content/assets/img/icon/closemenu.png" style="width: 50px;height: 50px;margin-top: 2%;"></abbr>
</div>
<!--End Icon menu tiện ích-->

<div id="divTienIch">
    <!--VR-->
    <div id="divVR">
        <abbr title="Xem thực tế ảo"><a href="https://panoramatruclinh.000webhostapp.com/"> <img  id="imgVR" src="~/Content/assets/img/icon/thucteao.png" style="width: 50px;height: 50px;margin-top: 2%;"></a></abbr>
    </div>
    <!--end VR-->
    <!--Zoom in-->
    <div id="divThuNho" >
        <abbr title="Thu nhỏ"> <img id="imgThuNho" src="~/Content/assets/img/icon/zoomout.png" style="width: 50px;height: 50px;margin-top: 2%;"></abbr>
    </div>
    <!--end Zoom in-->
    <!--Zoom out-->
    <div id="divPhongTo">
        <abbr title="Phóng to"> <img id="imgPhongTo" src="~/Content/assets/img/icon/zoomin.png" style="width: 50px;height: 50px;margin-top: 2%;"></abbr>
    </div>
    <!--end Zoom out-->
    <!--Map-->
    <div id="divMap">
        <abbr title="Vi trí"> <img id="imgViTri" src="~/Content/assets/img/icon/gps.png" style="width: 50px;height: 50px;margin-top: 2%;"></abbr>
    </div>
    <div id="mastermap">
        <div id="map" style="width:600px; height: 400px;"></div>
    </div>
    <!--end Map-->
    <!--Full Screen-->
    <div id="divFullScreen">
        <abbr title="Toàn màn hình"> <img id="imgFullScreen" src="~/Content/assets/img/icon/fullscreen.png" style="width: 50px;height: 50px;margin-top: 2%;"></abbr>
    </div>
    <!--end Full Screen-->
    <!--Âm thanh-->
    <div id="divNhac">
        <abbr title="Bật/ Tắt nhạc"> <img id="imgNhac" src="~/Content/assets/img/icon/music.png" onclick="battatnhac()" style="width: 50px;height: 50px;margin-top: 2%;"></abbr>
    </div>
    <!--end Âm thanh-->
    <!--Home-->
    <div id="divHome" >
        <abbr title="Về Trang chủ"> <a href="@Url.Action("Index","Home")"><img id="imgtrangchu" src="~/Content/assets/img/icon/home.png" style="width: 50px;height: 50px;margin-top: 2%;"></a></abbr>
    </div>
        <!--end Home-->
    </div>

        <script>
            //FullScreen
            var i = 0;
            document.getElementById('imgFullScreen').addEventListener('click', function (e) {
                if (i == 0) {
                    viewer.toggleFullscreen();
                    $("#imgFullScreen").attr("src", "../Content/assets/img/icon/exitfullscreen.png");
                    i = 1;
                }
                else {
                    viewer.toggleFullscreen();
                    $("#imgFullScreen").attr("src", "../Content/assets/img/icon/fullscreen.png");
                    i = 0;
                }
            });
            //Phóng to
            document.getElementById('imgPhongTo').addEventListener('click', function () {
                viewer.setHfov(viewer.getHfov() - 10)
            });
            //Thu nhỏ
            document.getElementById('imgThuNho').addEventListener('click', function () {
                viewer.setHfov(viewer.getHfov() + 10)
            });
        </script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqy-fBdWezdNvc7LP0Qs96dAVMDo7BHBU&callback=initMap">
</script>
        <script>
            var vitri = document.getElementById("imgViTri");

        </script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#mastermap').css("display", "none");
        var i = 0;
        $('#imgViTri').click(function () {
            $('#mastermap').toggle();
            init();
        });
        function init() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: new google.maps.LatLng(10.980796, 106.675481),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });


            var infowindow = new google.maps.InfoWindow();
            $.ajax({
                url: '@Url.Action("LoadMap", "ThamQuan")',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    for (i = 0; i < data.length; i++) {

                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(data[i].lat, data[i].lng),
                            map: map
                        });
                        google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                            return function () {
                                infowindow.setContent(data[i].Img_Title);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                var id = data[i].Img_Id;
                                window.location.assign('../ThamQuan/ThamQuan?imgId=' + data[i].Img_Id);
                            }
                        })(marker, i));
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        }
        });

</script>





        <script type="text/javascript">
            //Nhạc
            function battatnhac() {
                var myAudio = document.getElementById("audioNhac");
                var imgNhac = document.getElementById("imgNhac");
                if (myAudio.paused) {
                    myAudio.play();
                    imgNhac.src = "../Content/assets/img/icon/music.png";
                } else {
                    myAudio.pause();
                    imgNhac.src = "../Content/assets/img/icon/turnoffmusic.png";
                }
            }
            // end Nhạc
            $(document).ready(function () {
                //Tiện ích
                var i = 0;
                $("#imgTienIch").click(function () {

                    if (i == 0) {
                        $("#divTienIch").hide();
                        $("#imgTienIch").attr("src", "../Content/assets/img/icon/displaymenu.png");
                        i = 1;
                    } else {
                        $("#imgTienIch").attr("src", "../Content/assets/img/icon/closemenu.png");
                        $("#divTienIch").show();
                        i = 0;
                    }
                });
            });
            //list menu
            $("#divLstMenu").hide();
            $("#imgMenu").click(function () {
                $("#divLstMenu").toggle(500);

            });
        </script>

<style>
    #mastermap{
        position:absolute;
        left:200px;
        bottom:100px;
        z-index:1;
    }
</style>